# Django & core packages
Django>=5.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-debug-toolbar
psycopg2-binary
django-environ
dj-rest-auth
django-allauth
django-extensions
requests
cryptography
requests_oauthlib
google-api-python-client
drf-spectacular
django-countries
pillow
pandas
django-cities-light
django-rest-passwordreset
django-storages
stripe
daphne
firebase-admin
gunicorn
whitenoise

# HuggingFace / LangChain / AI
google-generativeai  
tiktoken              
langchain 
langchain-huggingface           
langchain-community
sentence-transformers
PyMuPDF   
faiss-cpu

# PyTorch CPU wheels (use extra-index-url only for torch packages)
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
